@charset "UTF-8";
/* CSS Document */
body{
	font-family: Helvetica, sans-serif;
	color:black;
	text-align: center;
	top:0;
	height: 100%;
	padding:0;
    margin:0;
    background-color: white
}
#wrapper{
	width:100%;
	max-width:1200px;
	margin:auto;
}
nav{
	position:fixed;
	width:50%;
	right:0;
	top:0;
	text-align: right;
	background-color: white;
	border-bottom: 1px solid black;
	z-index: 99999;
}
a{text-decoration: none}
a:link {color:black;}      /* unvisited link */
a:visited {color:#807F83;}  /* visited link */
a:hover {color:#CBC9CF;}  /* mouse over link */
a:active {color:#67666A;}  /* selected link */
#title{
	position:fixed;
	width:50%;
	float:left;
	top:0;
	left:0px;
	text-align: left;
	background-color: white;
	border-bottom: 1px solid black;
	z-index: 999;
}
.seg{
	width:100%;
	max-width:1200px;
	max-height:1200px;
}
.pics{
	background-repeat:no-repeat;
	background-size:contain;
	background-position:bottom;
}
.text{
	margin:0;
	font-size:2em;
	margin-bottom:10px;
	padding-left: 10px;
	padding-right:10px;
	font-weight: 200;
}
#top{
	color:black;
}
#bottom{
	bottom:0px;
}
@media screen and (max-width: 1199px) { 

	/*
		MOBILE
	*/

	.mobilePics{
		display:block;
	}

	#seg1{
		height:600px;
		top:0px;
		text-align: center;
	}
	#seg1 h1{
		padding-top:100px;
		padding-bottom:100px;
		font-size: 6em;
	}
	#seg1list{
		width:80%;
		margin-left:10%;
		font-size: 1.5em;
		text-align: left;
	}
	#hs{
		text-align: left;

	}
	#hs h1{
		font-size: 4em;
		margin-top: 0px;
		margin-bottom: 0px;
		width:100%;
		padding-left:5%;
	}

	#hs h2{
		margin:none;
		padding:none;
		padding-left:5%;
		font-size: 2.5em;
	}
	
	#seg2{
	/*	height:798px;
		background-image: url('media/seg22.png');*/
		color:black;
		text-align: left;
	}
	#seg2 h1{
		font-size: 5em;
		margin-top: 0px;
		margin-bottom: 0px;
		width:100%;
		line-height: .9em;
	}
	#seg2 h2{
		margin:none;
		padding:none;
		padding-top:30px;
		font-size: 2.5em;
	}
	#seg3{
	/*	height:798px;
		background-image: url('media/track.png');*/
		color:black;
		text-align: left;
	}
	#seg3 h1{
		font-size: 4.5em;
		width:100%;
		line-height: .9em;
	}
	#seg3 h2{
		margin:none;
		padding:none;
		/*padding-top: 475px;*/
		font-size: 2em;
	}
	#seg4{
	/*	height:800px;
		background-image: url('media/kid.png');*/
		color:black;
		text-align: left;
	}
	#seg4 h1{
		font-size: 5em;
		margin-top: 0px;
		margin-bottom: 0px;
		width:100%;
		line-height: .9em;
	}
	#seg4 h2{
		margin:none;
		padding:none;
		/*padding-top:550px;*/
		font-size: 1.5em;
	}
	#seg5{
		text-align: left;
	}
	#seg5 iframe{
		padding-top: 20px;
		padding-bottom: 50px;
	}
	#seg5 h1{
		font-size: 4em;
		margin-top:10px;
		margin-bottom: 10px;
	}
	#seg5 h2{
		margin-bottom:10px;
	}
	#seg6{
		text-align: left;
		padding-bottom: 50px;
	}
	#seg6 h1{
		font-size: 4em;
		margin-bottom: 10px;
	}
	#seg6 h2{
		margin-bottom:10px;
	}
	#seg6 iframe{
		width:100%;
	}
	#seg7{
		text-align: left;
		padding-bottom: 50px;
	}
	#seg7 h1{
		font-size: 4em;
		margin-top:10px;
		margin-bottom: 10px;
	}
	#seg7 h2{
		margin-bottom:10px;

	}
	/* bit from http://avexdesigns.com/responsive-youtube-embed/ */
	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; height: 0; overflow: hidden;
	}
	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
	#seg8{
	/*	height:800px;
		background-image: url('media/main.jpg');*/
		color:black;
		text-align: left;
	}
	#seg8 h1{
		font-size: 4em;
		margin-bottom: 0px;
		line-height: .9em;
		margin-top:2em;
	}
	#seg8 h2{
		margin:none;
		padding:none;
		font-size: 1.75em;
	}
	#resume{
		background-color: red;
		height:1200px;
	}
	#contact h1 {
		font-size: 3em;
	}
	#contact .text {
		font-size:1.5em;
	}
	#contact{
		margin-bottom: 2em;
	}
}

@media screen and (min-width: 1200px) {

	/*
		Browser
	*/

	.mobilePics{
		display: none;
	}

	#seg1{
	height:800px;
	top:0px;

	}
	#seg1 h1{
		padding-top:150px;
		padding-bottom:150px;
		font-size: 6em;
	}
	#seg1list{
		width:70%;
		margin-left:15%;
		text-align: left;
		font-size: 2em;
	}
	#seg1 .arrow{
		font-size: 4em;
	}
	#hs{
		height:800px;
		background-image: url('media/hs.png');
		color:white;
		text-align: left;
	}
	#hs h1{
		font-size: 5em;
		margin-bottom: 0px;
		width:100%;
		text-align: center;
	}
	#hs h2{
		margin:none;
		padding:none;
		text-align: left;
		font-size: 1.5em;
	}
	#hs a{text-decoration: none}
	#hs a:link {color:white;}      /* unvisited link */
	#hs a:visited {color:#CBC9CF;}  /* visited link */
	#hs a:hover {color:#807F83;}  /* mouse over link */
	#hs a:active {color:#67666A;}  /* selected link */
	#seg2{
		height:798px;
		background-image: url('media/seg22.png');
		color:white;
		text-align: left;
	}
	#seg2 h1{
		font-size: 5em;
		margin-top: 0px;
		margin-bottom: 0px;
		width:100%;
		padding-left:5%;
		line-height: .9em;
	}
	#seg2 h2{
		margin:none;
		padding:none;
		padding-left:5%;
		padding-top:30px;
		text-align: left;
		font-size: 2.5em;
	}
	#seg3{
		height:798px;
		background-image: url('media/track.png');
		color:black;
		text-align: right;
	}
	#seg3 h1{
		font-size: 5em;
		width:100%;
		line-height: .9em;
	}
	#seg3 h2{
		margin:none;
		padding:none;
		padding-top: 500px;
		font-size: 1.5em;
	}
	#seg4{
		height:800px;
		background-image: url('media/kid.png');
		color:white;
		text-align: right;
	}
	#seg4 h1{
		font-size: 5em;
		margin-top: 0px;
		margin-bottom: 0px;
		width:100%;
		line-height: .9em;
	}
	#seg4 h2{
		margin:none;
		padding:none;
		padding-top:550px;
		font-size: 1.5em;
	}
	#seg5{
		height:900;
		text-align: left;
	}
	#seg5 iframe{
		padding-top: 20px;
		padding-bottom: 50px;
	}
	#seg5 h1{
		font-size: 4em;
		margin-top:10px;
		margin-bottom: 10px;
	}
	#seg5 h2{
		margin-bottom:10px;
	}
	#seg6{
		text-align: left;
		padding-bottom: 50px;
	}
	#seg6 h1{
		font-size: 4em;
		margin-top:10px;
		margin-bottom: 10px;
	}
	#seg6 h2{
		margin-bottom:10px;
	}
	#seg6 iframe{
		width:60%;
	}
	#seg7{
		text-align: left;
		padding-bottom: 50px;
	}
	#seg7 h1{
		font-size: 4em;
		margin-top:10px;
		margin-bottom: 10px;
	}
	#seg7 h2{
		margin-bottom:10px;

	}
	/* bit from http://avexdesigns.com/responsive-youtube-embed/ */
	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; height: 0; overflow: hidden;
	}
	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
	#seg8{
		height:800px;
		background-image: url('media/main.jpg');
		color:white;
		text-align: left;
	}
	#seg8 h1{
		font-size: 4em;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left:10%;
		line-height: .9em;
	}
	#seg8 h2{
		margin:none;
		padding:none;
		text-align: left;
		font-size: 1.5em;
	}
	#resume{
		background-color: red;
		height:1200px;
	}
	#contact h1{
		font-size: 4em;
	}
	#contact .text{
		color:black;
		font-size:2em;
	}
	#contact{
		margin-bottom: 2em;
	}
}


