body{
	font-family: Arial, sans-serif;
}

#rob_wrap{
	max-width: 1200px;
	margin: 0 auto;
}

.rob_img{

}

.rob_img1{
	background-image: url(media/seg22.png);
}

.rob_img2{
	background-image: url(media/hs.png);
}

.rob_img3{
	background-image: url(media/track.png);
}

.rob_img4{
	background-image: url(media/kid.png);
}

.rob_img5{
	background-image: url(media/main.png);
}