<div class="about">
	<p>My name is Rob and I do web stuff at a <a href="http://registerguard.com">newspaper</a>.</p>
	<p>Most of the time I work with Python, HTML/CSS/JS and <a href="https://en.wikipedia.org/wiki/InterSystems_Cach%C3%A9">InterSystems Caché</a>.</p>
	<p>On any given day you might find me making a <a href="https://github.com/robertdenton/cascadiaquakes">Twitter bot</a>, <a href="https://github.com/registerguard/dfp">debugging a third-party tool</a> or wrangling a CMS.</p>
	<p>
</div><!-- /.about -->

