<script>
    var workBtn = document.getElementById("work-btn"),
    work = document.getElementById("work"),
    show = false;
    
    function showHide(){
        if (show == false){
            // show it
            work.style.display = 'block';
            work.style.visibility = 'visible';
            show = true;
        } else {
            // hide it
            work.style.display = 'none';
            work.style.visibility = 'hidden';
            show = false;
        }
    }

    workBtn.addEventListener('click', showHide, false);
</script>